header {
    background-color: rgb(0,0,0,0);
    padding: 10px;
    width: 95%;
    height: 50px;
    margin: 20px;
  }

  .logo {
    margin-right: 500px;
    height: 100px;
    width: 100px;
    float: left;
  }

  h1 {
    font-style: oblique;
    /* margin-left: 200px; */
    font-size: 40px;
    font-family: Verdana, Tahoma;
    color: rgb(130,181,248);
    float: left;
   } 

  .nav-link {
    color: rgb(130, 181, 248);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 50px;

 }

  .nav-btn {
    float: right;
    margin-top: -21px;
    
  }

.image {
    height: 1200px;
}


#row {
    background-color: black;
    height: 300px;
    width:300px;
    margin-left: 250px;
    margin-top: 25px;
    text-align: center;
    padding: 50px;
    float:left;
    position: relative;

}

#links {
  color:rgb(202, 202, 216);

}

/* .col { */
    /* Height: 300px; */
    /* width: 300px; */
    
/* } */

.card-body-index {
  background-color: rgb(0,0,0,0.3 );
  width: 50%;
  height: 400px;
  margin-left: 25%;
  margin-top: 8%;
  text-align: center;
}

#phoneNumber {
  color:rgb(211, 213, 214);
}

.card-body {
  padding: 10px;
  background-color: rgb(15, 15, 15);
  width: 50%;
  height: 500px;
  margin-left: 25%;
  margin-top: 4%;
  text-align: center;
}
 .mb-3 { 
    margin-top: 15px;
 }

 #movin {
   margin-top: -40px;
   font-size:x-large; 
   color: rgb(97, 97, 238);
   }

#projectOne {
  width: 300px;
  height:250px;
}

#emailLink {
  /* margin-left: 50px; */
  margin-top: 50px;
  color:  rgb(130, 181, 248);
  font-size:large;
 
}

h2 {
  font-size: 40px;
  color: rgb(201, 204, 209);
  margin: 10px;
}

h3 {
  color:rgb(206, 200, 200);
}

/* .car-img-top {
  float: left;
  height: 300px;
  width: 300px;
  margin: 10px;
} */

.card-text {
  padding:90px;
  margin: 100px;
  color: rgb(196, 212, 236);
  font-size: large;
}

